.row li {
    margin-left: -10px;
}
#form1 input.ng-invalid.ng-touched, #form1 textarea.ng-invalid.ng-touched {
    background-color: #ffced1;
}
#form1 input.ng-valid.ng-touched, #form1 textarea.ng-valid.ng-touched {
    background-color: #baffc3;
}
.todo-item {
    padding: 10px;
    margin-left: 10px;
    border-bottom: 1px solid silver;
    transition: opacity 900ms ease-out;
}
.todo-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #457196;
}
.todo-content {
    padding-left: 30px;
}
@media(max-width: 767px)
{
    .todo-content {
        padding-left: 10px;
    }
}
.todo-content .fa-check {
    color: green !important;
    font-weight: bold;
    font-size: 1.2em;
}
.completed {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.4;

}
