<h3>Home Component</h3>
<hr/>

<p>Welcome to Angular Seed, {{name}}.</p>
<p>The time is: {{date | date:"MMM. dd, yyyy - hh:mm:ss a"}}</p>
<p>{{sayHello()}}</p>

<hr>

<form name="form1" #form1="ngForm">
    <div class="form-group">
        <label for="firstname">What's your name:</label>
        <input type="text" name="firstname" id="firstname"
               class="form-control"
               [(ngModel)]="name" required minlength="5"
               placeholder="Enter a name"
        >
    </div>

    <button class="btn btn-primary"  type="button"
            [disabled]="form1.invalid || form1.pristine"
            (click)="clickHello(form1)">Submit</button>
</form>



