<div>

    <div class="banner">
        <a class="slide-menu-toggle-open"
           title="More Samples">
            <i class="fa fa-bars"></i>
        </a>

        <div class="title-bar">
            <a href="./">
                <img src="images/icon.png"
                     style="height: 45px; float: left" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: bold;">West Wind</i><br />
                    <i style="color: whitesmoke; font-size: 1.6em; font-weight: bold;">
                        Web Connection
                    </i>
                </div>
            </a>
        </div>

        <nav class="banner-menu-top pull-right">
            <a href="#/home" class="hidable">
                <i class="fa fa-list"></i>
                home
            </a>
            <a href="#/about" class="hidable">
                <i class="fa fa-book"></i>
                about
            </a>
            <a href="#/todo" class="hidable">
                <i class="fa fa-tag"></i>
                Todo
            </a>
            <a href="admin/admin.aspx" class="hidable">
                <i class="fa fa-gear"></i>
                Admin
            </a>
        </nav>
    </div>
</div>


<div id="MainView">
    <div class="container">
        <router-outlet></router-outlet>
    </div>


</div>  


<footer>
    <a href="http://www.west-wind.com/" class="pull-right">
        <img src="images/westwindtext.png" />
    </a>
    &copy; Your Company Here, 2016
</footer>


<nav class="slide-menu">
    <div style="padding: 10px 10px 10px 3px;">
        <a class="slide-menu-toggle-close">
            <i class="fa fa-bars"></i>
        </a>

        <a class="disabled">
            <i class="fa fa-bookmark"></i>
            Links
        </a>

        <a href="#/home" class="indented">
            <i class="fa fa-home"></i>
            Home
        </a>
        <a href="#/about" class="indented">
            <i class="fa fa-play-circle"></i>
            About
        </a>


        <a href="http://west-wind.com/webconnection/docs/">
            <i class="fa fa-book"></i>
            Documentation
        </a>

        <a href="admin/admin.aspx">
            <i class="fa fa-gear"></i>
            Administration
        </a>
    </div>
</nav>